__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.pytest_cache
.coverage
htmlcov/
.ipynb_checkpoints
.git
.gitignore
.github
CONTEXT.md
context.md
Context.md
data/raw/*
!data/raw/.gitkeep
data/external/*
!data/external/.gitkeep
